body {

    background-image: url('https://images.unsplash.com/photo-1685443866545-57adcff6e0be?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: red;
    font-size: 22px;
}

form {
    display: inline-block;

}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 20px;
}

.weather-icon {
    width: 90px;
    height: 70px;
    display: inline-block;
    vertical-align: middle;
}

.weather-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.weather-info p {
    margin: 5px 0;
}

#voir {
    color: white;
    background-color: red;
    border-radius: 30px;
    height: 35px;
    width: 240px;
    transition: background-color 0.3s;
}

#voir:hover {
    background-color: white;
    color: red;
}

#ville,#pays {
    color: red;
}

img {

    width: 100px;
    height: 100px;

}